{% load static %}
<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Muzeum Sił Powietrznych Hellenic: O muzeum i kontakt">
        <meta name="author" content="Ioannis Kasionis i twórcy Bootstrap">
        <title>Muzeum Sił Powietrznych Hellenic: O muzeum i kontakt</title>

        <link rel="stylesheet" href="{% static 'mouseio/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'mouseio/favicon.png' %}">

        {% load bootstrap5 %}
        {% load bootstrap_icons %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body class="d-flex h-100 text-center text-white">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <nav class="navbar nav-masthead navbar-expand-md navbar-dark fixed-top bg-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/lang=pl">
                                <img src="{% static 'mouseio/images/logo.png' %}" class="" alt="" height="36">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggler" aria-controls="NavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="NavbarToggler">
                                <!-- Pozycje w nawigacji -->
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/lang=pl">Muzeum Sił Powietrznych Hellenic</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <!-- Menu rozwijane - Ekspozycje -->
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Ekspozycje
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDropdown">
                                            <li class="nav-item"><a class="nav-link dropdown-item" href="/SOUTH/lang=pl">Ekspozycje na południe od schroniska LEROS</a></li>
                                            <li class="nav-item"><a class="nav-link dropdown-item" href="/LEROS/lang=pl">Ekspozycje wewnątrz schroniska LEROS</a></li>
                                            <li class="nav-item"><a class="nav-link dropdown-item" href="/NORTH/lang=pl">Ekspozycje na północ od schroniska LEROS</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/contact/lang=pl">Kontakt</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <!-- Menu rozwijane - Język -->
                                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="https://flagcdn.com/pl.svg" width="30" alt="Polski" />
                                            Polski
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                            <li><hr class="dropdown-divider" /></li>
                                            <li><a class="dropdown-item" href="/contact/lang=el"><img src="https://flagcdn.com/gr.svg" width="30" alt="Grecki"/> Ελληνικά</a></li>
                                            <li><a class="dropdown-item" href="/contact/lang=de"><img src="https://flagcdn.com/de.svg" width="30" alt="Niemiecki"/> Deutsch</a></li>
                                            <li><a class="dropdown-item" href="/contact/lang=fr"><img src="https://flagcdn.com/fr.svg" width="30" alt="Francuski"/> Francaise</a></li>
                                            <li><a class="dropdown-item" href="/contact/lang=it"><img src="https://flagcdn.com/it.svg" width="30" alt="Włoski"/> Italian</a></li>
                                            <li><a class="dropdown-item" href="/contact/lang=es"><img src="https://flagcdn.com/es.svg" width="30" alt="Hiszpański"/> Espaniol</a></li>
                                            <li><a class="dropdown-item" href="/contact/lang=en"><img src="https://flagcdn.com/gb.svg" width="30" alt="Wielka Brytania"/> English</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <main class="px-3">
                <section class="py-5">
                    <div class="container">
                        <!-- O MUZEUM FEATURETTE -->
                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading">O Muzeum Sił Powietrznych Hellenic</h2>
                                <p class="lead">Muzeum Sił Powietrznych Hellenic, zlokalizowane na bazie lotniczej Dekelia w Tatoi, prezentuje imponującą kolekcję artefaktów lotniczych.</p>
                                <p class="lead">Nasza misja polega na zbieraniu, przechowywaniu i wystawianiu skarbów greckiego lotnictwa, badaniu i dokumentowaniu jego historii oraz promowaniu odwagi i ducha lotniczego na przestrzeni wieków.</p>
                                <p class="lead">Muzeum oferuje fascynującą podróż przez czas, podczas której odwiedzający mogą poznać odwagę i chwałę naszych pilotów, którzy bronili wolności i bezpieczeństwa naszego kraju.</p>
                            </div>
                            <div class="col-md-5">
                                <!-- Dodaj tutaj obraz muzeum -->
                                <img src="{% static 'mouseio/images/ABOUT/img2.jpg' %}"
                                    alt="Muzeum Sił Powietrznych Hellenic"
                                    class="img-fluid"
                                    style="border-radius: 15px 50px;">
                            </div>
                        </div>
                        <!-- KONTAKT FEATURETTE -->
                        <hr class="featurette-divider">

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading">Kontakt</h2>
                                <ul class="list-unstyled">
                                    <li><p class="lead text-start"><b>Adres:</b> Muzeum HAF, Baza Lotnicza Dekelia, 13671, Tatoi</p></li>
                                    <li><p class="lead text-start"><b>Biuro Wystaw:</b> +30 210-8195250, +30210-8195255, +30 210-8195275</p></li>
                                    <li><p class="lead text-start"><b>Adres e-mail:</b> museum@haf.gr</p></li>
                                    <li><p class="lead text-start"><b>Współrzędne GPS:</b> 38.1002204 – 23.7803797,375</p></li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <img src="{% static 'mouseio/images/ABOUT/img3.jpg' %}"
                                    style="border-radius: 15px 50px;"
                                    class="img-fluid"
                                    alt="Responsive image"
                                    preserveAspectRatio="xMidYMid slice" 
                                    focusable="false"
                                    alt="...">
                            </div>
                        </div>
                        <!-- GODZINY OTWARCIA FEATURETTE -->
                        <hr class="featurette-divider">

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading">Godziny Otwarcia</h2>
                                <p class="lead">W każdą sobotę i niedzielę, z wyłączeniem przypadających wtedy dni świątecznych, od 10:00 do 16:00</p>
                                <p class="lead">W dni robocze dostępne tylko dla szkół (wszystkich poziomów edukacji) – Grupy – Stowarzyszenia po wcześniejszym kontakcie telefonicznym lub e-mailowym i po uzyskaniu zgody.</p>
                            </div>
                            <div class="col-md-5">
                                <img src="{% static 'mouseio/images/ABOUT/img1.jpg' %}"
                                    style="border-radius: 15px 50px;"
                                    class="img-fluid"
                                    alt="Responsive image"
                                    preserveAspectRatio="xMidYMid slice" 
                                    focusable="false"
                                    alt="...">
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer class="mt-auto text-white-50">
                <p>Strona internetowa dla <a href="https://www.haf.gr/history/museum/" class="text-white">Muzeum Sił Powietrznych Hellenic</a></p>
            </footer>
        </div>
    </body>
</html>
