{% load static %}
<!doctype html>
<html lang="de" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Hellenic Airforce Museum: Über uns und Kontakt">
		<meta name="author" content="Ioannis Kasionis und Bootstrap-Mitarbeiter">
		<title>Hellenic Airforce Museum: Über uns und Kontakt</title>

		<link rel="stylesheet" href="{% static 'mouseio/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'mouseio/favicon.png' %}" >


		{% load bootstrap5 %}
		{% load bootstrap_icons %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
	</head>
	<body class="d-flex h-100 text-center text-white">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<header class="mb-auto">
				<div>
					<nav class="navbar nav-masthead navbar-expand-md navbar-dark fixed-top bg-dark">
                        <div class="container-fluid">
							<a class="navbar-brand" href="/lang=de">
								<img src="{% static 'mouseio/images/logo.png' %}" class="" alt="" height="36">
							</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggler" aria-controls="NavbarToggler" aria-expanded="false" aria-label="Navigation umschalten">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="NavbarToggler">
								<!-- Navbar Items -->
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link" aria-current="page" href="/lang=de">Hellenic Airforce Museum</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Ausstellungen
										</a>
										<ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDropdown">
											<!-- Exhibits Dropdown -->
                                            <li class="nav-item"><a class="nav-link dropdown-item" href="/SOUTH/lang=de">Außenausstellungen im Süden des Schutzbereichs LEROS</a></li>
                                            <li class="nav-item"><a class="nav-link dropdown-item" href="/LEROS/lang=de">Innenausstellungen im Schutzbereich LEROS</a></li>
                                            <li class="nav-item"><a class="nav-link dropdown-item" href="/NORTH/lang=de">Außenausstellungen im Norden des Schutzbereichs LEROS</a></li>
                                        </ul>
									</li>
									<li class="nav-item">
										<a class="nav-link active" href="/contact/lang=de">Kontakt</a>
									</li>
									<li class="nav-item dropdown">
										<!-- Language Dropdown -->
										<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											<img src="https://flagcdn.com/de.svg" width="30" alt="Deutschland" />
											Deutsch
										</a>
										<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
											<li><hr class="dropdown-divider" /></li>
											<li><a class="dropdown-item" href="/contact/lang=el"><img src="https://flagcdn.com/gr.svg" width="30" alt="Griechenland"/> Ελληνικά</a></li>
                                            <li><a class="dropdown-item" href="/contact/lang=en"><img src="https://flagcdn.com/gb.svg" width="30" alt="Großbritannien"/> English</a></li>
											<li><a class="dropdown-item" href="/contact/lang=fr"><img src="https://flagcdn.com/fr.svg" width="30" alt="France"/> Francaise</a></li>
											<li><a class="dropdown-item" href="/contact/lang=it"><img src="https://flagcdn.com/it.svg" width="30" alt="Italian"/> Italian</a></li>
											<li><a class="dropdown-item" href="/contact/lang=es"><img src="https://flagcdn.com/es.svg" width="30" alt="Spanish"/> Espaniol</a></li>
											<li><a class="dropdown-item" href="/contact/lang=pl"><img src="https://flagcdn.com/pl.svg" width="30" alt="Polish"/> Polski</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</header>
			<main class="px-3">
				<section class="py-5">
					<div class="container">
						<!-- WELCOME FEATURETTE -->
						<div class="row featurette">
							<div class="col-md-7">
								<h2 class="featurette-heading">Über das Hellenic Airforce Museum</h2>
								<p class="lead">Das Hellenic Airforce Museum, das sich auf der Luftwaffenbasis Dekelia in Tatoi befindet, präsentiert eine beeindruckende Sammlung von Luftfahrtartefakten.</p>
								<p class="lead">Unsere Mission ist es, die Schätze der griechischen Luftfahrt zu sammeln, zu bewahren und auszustellen, die Geschichte zu erforschen und zu dokumentieren und den Mut und den Geist der Luftfahrt durch die Jahrhunderte zu fördern.</p>
								<p class="lead">Das Museum bietet eine faszinierende Reise durch die Zeit, bei der die Besucher den Mut und Ruhm unserer Piloten erkunden können, die die Freiheit und Sicherheit unseres Landes verteidigten.</p>
							</div>
							<div class="col-md-5">
								<!-- Fügen Sie hier ein Bild des Museums ein -->
								<img src="{% static 'mouseio/images/ABOUT/img2.jpg' %}"
									alt="Hellenic Airforce Museum"
									class="img-fluid"
									style="border-radius: 15px 50px;">
							</div>
						</div>
						<!-- CONTACT FEATURETTE -->
						<hr class="featurette-divider">
		
						<div class="row featurette">
							<div class="col-md-7">
								<h2 class="featurette-heading">Kontakt</h2>
								<ul class="list-unstyled">
									<li><p class="lead text-start"><b>Adresse:</b> HAF Museum, Luftwaffenbasis Dekelia, 13671, Tatoi</p></li>
									<li><p class="lead text-start"><b>Ausstellungsbüro:</b> +30 210-8195250, +30210-8195255, +30 210-8195275</p></li>
									<li><p class="lead text-start"><b>E-Mail:</b> museum@haf.gr</p></li>
									<li><p class="lead text-start"><b>GPS-Koordinaten:</b> 38.1002204 – 23.7803797,375</p></li>
								</ul>
							</div>
							<div class="col-md-5">
								<img src="{% static 'mouseio/images/ABOUT/img3.jpg' %}"
									style="border-radius: 15px 50px;"
									class="img-fluid"
									alt="Responsive Bild"
									preserveAspectRatio="xMidYMid slice" 
									focusable="false"
									alt="...">
							</div>
						</div>
						<!-- VISIT FEATURETTE -->
						<hr class="featurette-divider">
		
						<div class="row featurette">
							<div class="col-md-7">
								<h2 class="featurette-heading">Öffnungszeiten</h2>
								<p class="lead">Jeden Samstag und Sonntag, außer an zusammenfallenden Nationalfeiertagen, von 10:00 bis 16:00 Uhr</p>
								<p class="lead">An Werktagen nur für Schulen (aller Bildungsstufen) - Gruppen - Vereine, nach telefonischer oder E-Mail-Kommunikation und vorbehaltlich Genehmigung.</p>
							</div>
							<div class="col-md-5">
								<img src="{% static 'mouseio/images/ABOUT/img1.jpg' %}"
									style="border-radius: 15px 50px;"
									class="img-fluid"
									alt="Responsive Bild"
									preserveAspectRatio="xMidYMid slice" 
									focusable="false"
									alt="...">
							</div>
						</div>
					</div>
				</section>
			</main>
			<footer class="mt-auto text-white-50">
				<p>Website für das <a href="https://www.haf.gr/history/museum/" class="text-white">Hellenic Airforce Museum</a></p>
			</footer>
		</div>    
	</body>
</html>
