{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Strona główna Muzeum Sił Powietrznych Hellenic">
    <meta name="author" content="Ioannis Kasionis i współtwórcy Bootstrap">
    <title>Strona główna muzeum</title>

    <link rel="stylesheet" href="{% static 'mouseio/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'mouseio/favicon.png' %}">


    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
    <body class="d-flex text-center text-white h-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <!-- Nawigacja -->
                <nav class="navbar nav-masthead navbar-expand-md navbar-dark fixed-top bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/lang=pl">
                            <img src="{% static 'mouseio/images/logo.png' %}" alt="" height="36">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggler" aria-controls="NavbarToggler" aria-expanded="false" aria-label="Przełącz nawigację">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="NavbarToggler">
                            <!-- Elementy nawigacji -->
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/lang=pl">Muzeum Sił Powietrznych Hellenic</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <!-- Menu rozwijane "Eksponaty" -->
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Eksponaty
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDropdown">
                                        <li class="nav-item"><a class="nav-link dropdown-item" href="/SOUTH/lang=pl">Eksponaty na południe od schronu LEROS</a></li>
                                        <li class="nav-item"><a class="nav-link dropdown-item" href="/LEROS/lang=pl">Eksponaty wewnątrz schronu LEROS</a></li>
                                        <li class="nav-item"><a class="nav-link dropdown-item" href="/NORTH/lang=pl">Eksponaty na północ od schronu LEROS</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact/lang=pl">Kontakt</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <!-- Menu rozwijane "Język" -->
                                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://flagcdn.com/pl.svg" width="30" alt="Polski" />
                                        Polski
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="/lang=el"><img src="https://flagcdn.com/gr.svg" width="30" alt="Grecki"/> Ελληνικά</a></li>
                                        <li><a class="dropdown-item" href="/lang=de"><img src="https://flagcdn.com/de.svg" width="30" alt="Niemiecki"/> Deutsch</a></li>
                                        <li><a class="dropdown-item" href="/lang=fr"><img src="https://flagcdn.com/fr.svg" width="30" alt="Francuski"/> Francaise</a></li>
                                        <li><a class="dropdown-item" href="/lang=it"><img src="https://flagcdn.com/it.svg" width="30" alt="Włoski"/> Italian</a></li>
                                        <li><a class="dropdown-item" href="/lang=es"><img src="https://flagcdn.com/es.svg" width="30" alt="Hiszpański"/> Espaniol</a></li>
                                        <li><a class="dropdown-item" href="/lang=en"><img src="https://flagcdn.com/gb.svg" width="30" alt="Wielka Brytania"/> English</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <!-- Nagłówek -->
            <div class="jumbotron jumbotron-fluid text-center mt-4 p-5">
                <div class="container">
                    <h1 class="display-4">Witaj w Muzeum Sił Powietrznych Hellenic</h1>
                    <p class="lead">Odkryj bogatą historię i dziedzictwo doskonałości lotniczej.</p>
                    <a href="/contact/lang=pl" class="btn btn-secondary btn-lg">Kontakt</a>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="container marketing mt-5">
                <!-- Trzy kolumny tekstu pod karuzelą -->
                <div class="row">
                    {% for location in location_list %}
                    <div class="col-lg-4">
                        <img src="{% static 'mouseio/images/'|add:location.name|add:'/main.jpg' %}"
                            class="bd-placeholder-img rounded-circle"
                            width="140" height="140"
                            alt="Obraz responsywny"
                            preserveAspectRatio="xMidYMid slice" 
                            focusable="false"
                            alt="...">
                        <h2 class="featurette-heading">{{location.name_trans}}</h2>
                        <p><a class="btn btn-info" href="/{{location.name}}/lang=pl">Więcej &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    {% endfor %}
                </div><!-- /.row -->
            </div>
            <!-- ROZPOCZNIJ FUNKCJE -->
            {% for location in location_list %}
            <hr class="featurette-divider">
            <div class="row featurette d-flex aligns-items-center justify-content-center">
                <div class="col-md-4">
                    <h2 class="featurette-heading">{{location.name_trans}}</h2>
                    <p class="lead">{{location.text}}</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'mouseio/images/'|add:location.name|add:'/feat.jpg' %}"
                        style="border-radius: 15px 50px;"
                        class="featurette-img img-fluid"
                        alt="Obraz responsywny"
                        preserveAspectRatio="xMidYMid slice" 
                        focusable="false"
                        alt="...">
                </div>
            </div>
            {% endfor %}
        </main>
        <footer class="mt-5 text-white-50">
            <p>Strona internetowa <a href="https://www.haf.gr/history/museum/" class="text-white">Muzeum Sił Powietrznych Hellenic</a></p>
        </footer>
    </div>    
</body>
</html>

